* {
  box-sizing: border-box;
} //> bonne pratique ;)

body {
  font-family: $font;
  display: flex;
  flex-direction: column;
  color: $grey;
}

img {
  max-width: 100%;
  height: auto; //> bonne pratique
}

a {
  color: inherit;
  text-decoration: none;
}
