@import "./partial/*"

.container
    margin-inline 2rem

.nav
    &__container
        display flex
        align-items center
        justify-content center
        padding-block 3rem

.logo
    width 15rem

.hero
    display grid
    align-content center
    padding clamp(1em, 10vw, 5em)
    min-height 800px
    background-image url(../../public/assets/images/hero.jpg)
    background-position right
    background-size cover
    background-repeat no-repeat
    position relative

    &__title
        text-transform uppercase
        font-size clamp(1.5rem, 9vw, 4rem)
        max-width 11ch

.follow
    position absolute
    display flex
    width max-content
    gap 2rem
    left -1em
    padding-inline .25em
    bottom 0
    rotate -90deg
    transform-origin left

    &__us
        text-transform uppercase
        font-weight 700
    
    &__icons
        display flex
        gap 1rem
    &__icon
        color red
        aspect-ratio 1
        width 1.2rem
        
.presentation
    position relative
    display grid
    gap 4rem

    &__line
        position absolute
        top 50%
        right 0
        height 2px
        width 100%
        rotate -210deg
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);

    &__desc
        font-size 1.75rem

    &__section
        display grid
        gap clamp(.5rem, 10vw, 5rem)
        grid-template-columns repeat(auto-fit, minmax(20rem, 1fr))
        &:nth-child(even)
            .presentation__box
                text-align right
                sm()
                    text-align left
                .btn
                    margin-left auto
                &:nth-child(2)
                    order -1
        > *
            flex 1

    &__box
        margin-block-start 10rem
        display flex
        gap 2rem

        :has(:not(svg))
            display grid
            place-content start
        .presentation__text
            display flex
            flex-direction column
            gap 2rem
        svg
            z-index 2

.projects
    margin-block-start 10rem
    &__title
        text-align center
        margin-block-end 1rem
    &__subtitle
        font-size 2rem
        text-align center

    &__list
        display grid
        align-items center
        margin-block-start 2rem
        grid-template-columns repeat(auto-fit, minmax(clamp(100px, 60vw, 350px), 1fr))
        gap 1rem
        max-width 90rem
        margin-inline auto

    &__item
        position relative
        overflow clip
        aspect-ratio 1/1.5
        display flex
        flex-direction column
        justify-content space-between
        &:hover img
            scale 1.1

    &__img
        position absolute
        width 100%
        height 100%
        z-index -1
        transition scale .2s
        background-size cover

    &__goal
        text-transform uppercase
        font-weight lighter
        font-size 2.5rem
        color white
        align-self center
        margin-block auto
        letter-spacing .4ch       
        writing-mode vertical-lr
        rotate -180deg

    &__expl
        text-transform uppercase
        color white
        max-width 30ch
        margin 1.5em
        font-weight lighter
        letter-spacing .1ch

.convinced
    position relative
    margin-block-start 10rem
    border-left 1px solid primary
    padding-inline 2em
    min-height 15rem
    display flex
    flex-direction column
    justify-content space-between


    &::before
    &::after
        content ""
        position absolute
        color primary
        left -.2em
        border-radius 50%
        aspect-ratio 1
        background-color primary
        width .3em

    &::before
        top 0
    &::after
        bottom 0

    &__title
        font-weight lighter
        text-transform uppercase
        line-height 1.2
        max-width 15ch
    &__cta
        display flex
        gap .5rem
        margin-inline-start 2rem
        font-size 2rem

.contact
    display grid
    grid-template-columns repeat(auto-fit, minmax(20rem, 1fr))

    &__infos
        display grid
        place-content center
        padding clamp(.5em, 10vw, 5em)
        gap 1rem
    &__detail
        text-transform uppercase
        letter-spacing .15em
        color primary
        display flex
        align-items center
        gap 1rem

    &__icon
        width 1rem
        

    &__form
        display grid
        gap clamp(.25em, 2vw, 2rem)
        grid-template-columns repeat(2, 0.5fr)

        .form__section:has(:is(textarea, .btn))
            grid-column span 2

        .form__section:has(.btn)
            display flex
            justify-content end


// 1 media query car pas le choix vu le design
// j'ai essayé d'en avoir 0, mais impossible :(
@media screen and (max-width: sm) 
    .presentation__section
        &:nth-child(even) 
            .presentation__box
                text-align left
    .quote
        display none

    .contact
        grid-template-columns 1fr
        &__form
            display flex
            flex-direction column

    .presentation
        &__section
            grid-template-columns 1fr