@import "./partial/*"

.container
    margin-inline 2rem

.nav
    &__container
        display flex
        align-items center
        justify-content center
        padding-block 3rem

.logo
    width 15rem

.hero
    display grid
    align-content center
    padding clamp(1em, 10vw, 5em)
    min-height 800px
    background-image url(../../public/assets/images/hero.jpg)
    background-position right
    background-size 100%
    background-repeat no-repeat

    &__title
        text-transform uppercase
        font-size clamp(1.5rem, 60vw, 4rem)
        max-width 11ch

.presentation
    display grid
    gap 4rem
    .quote
        &::before
            content open-quote
            display inline
            // color 


    &__section
        display grid
        gap 5rem
        grid-template-columns repeat(auto-fit, minmax(20rem, 1fr))
        // grid-template-areas "text img"
        // display flex
        // flex-wrap wrap
        &:nth-child(even)
            // grid-template-areas "img text"
            // flex-direction row-reverse
            .presentation__box

                text-align right
                justify-items end
                &:nth-child(2)
                    order -1
        > *
            flex 1

    &__box
        display grid
        place-content start
        // gap 2rem
        // &:nth-child(1)
        //     grid-area text

        // &:nth-child(2)
        //     grid-area img
    // &__btn
    // &__img


.projects
    &__title
    &__subtitle
        text-align center

    &__list
        display grid
        align-items center
        margin-block-start 2rem
        grid-template-columns repeat(auto-fit, minmax(clamp(100px, 60vw, 350px), 1fr))
        gap 1rem
        max-width 90rem
        margin-inline auto

    &__item
        position relative
        overflow clip
        aspect-ratio 1/1.5
        display flex
        flex-direction column
        justify-content space-between

    &__img
        position absolute
        width 100%
        height 100%
        z-index -1
        background-size cover

    &__goal
        text-transform uppercase
        font-weight lighter
        font-size 2.5rem
        color white
        align-self center
        margin-block auto
        letter-spacing .4ch       
        writing-mode vertical-lr
        rotate -180deg

    &__expl
        text-transform uppercase
        color white
        max-width 30ch
        margin 1.5em
        font-weight lighter
        letter-spacing .1ch

.convinced
    position relative
    margin-block-start 10rem
    border-left 1px solid primary
    padding-inline 2em
    min-height 15rem
    display flex
    flex-direction column
    justify-content space-between


    &::before
    &::after
        content ""
        position absolute
        color primary
        left -.2em
        border-radius 50%
        aspect-ratio 1
        background-color primary
        width .3em

    &::before
        top 0
    &::after
        bottom 0

    &__title
        font-weight lighter
        text-transform uppercase
        line-height 1.2
        max-width 15ch
    &__cta
        font-size 2rem

.contact
    display grid
    grid-template-columns repeat(auto-fit, minmax(20rem, 1fr))
    &__form
        display grid
        gap 2rem
        grid-template-columns repeat(2, 0.5fr)

        .form__section:has(textarea, .form__button)
            grid-column span 2