.footer
    padding-block 5em
    padding-inline 1em
    margin-block-start 5rem
    display grid
    place-content center
    &__rick
        display grid
        gap .5rem
        font-weight lighter
    &__logo
        filter grayscale(100) contrast(1000) invert(100)
        width 40ch
    &__rolled
        margin-inline-start 10ch