.quote
    &::before
        content open-quote
        display inline
        color primary
        font-family serif
        font-size 10rem
        line-height 0rem
        vertical-align bottom
    &::after
        content no-close-quote
